body {
  @apply bg-base text-text selection:bg-[#283951] selection:text-white;
}

button,
a {
  cursor: pointer;
}

* {
  @apply focus-visible:outline-lavender outline-offset-2 focus-visible:outline-2;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
